.boton1{
    background-color: #004466;
    
    }
    
    .boton2{
        border-radius: 15px;
        background-color: hsla(325, 100%, 20%, 0.74);
        color: antiquewhite;
        padding: 10px 20px;
        
        } 
    
    
    