p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(124, 25, 25);
}



.parrafotitulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(199, 18, 184);
}

.img-p{
border-radius: 50%;
}
